<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
		<security>
		    <requestFiltering>
				<verbs>
					<add verb="POST" allowed="true" />
				</verbs>						
			</requestFiltering>
		</security>
    </system.webServer>
</configuration>
